<launch>
  <arg name="host" default="0.0.0.0"/>
  <arg name="port" default="8001"/>
  <arg name="camera" default="/dev/video0"/>
  <arg name="show_window" default="false"/>
  <arg name="confidence" default="0.60"/>
  <arg name="grid_mode" default="true"/>
  <arg name="current_grid_topic" default="/current_grid"/>
  <arg name="path_topic" default="/mission/global_path"/>
  <arg name="path_ack_topic" default="/planner/path_ack"/>
  <arg name="path_frame" default="mission"/>
  <arg name="start_planner" default="true"/>
  <arg name="start_path_receiver" default="true"/>
  <arg name="start_vision_adapter" default="false"/>
  <arg name="start_grid_recognition" default="true"/>
  <arg name="takeoff_height" default="1.2"/>
  <arg name="global_path_use_pose_z" default="false"/>
  <arg name="compress_straight_segments" default="true"/>
  <arg name="grid_spacing" default="0.5"/>

  <node if="$(arg start_planner)" pkg="nuedc_ground_air" type="ground_path_planner.py" name="ground_path_planner" output="screen">
    <param name="takeoff_height" value="$(arg takeoff_height)"/>
    <param name="global_path_use_pose_z" value="$(arg global_path_use_pose_z)"/>
    <param name="compress_straight_segments" value="$(arg compress_straight_segments)"/>
    <param name="grid_spacing" value="$(arg grid_spacing)"/>
    <param name="path_topic" value="$(arg path_topic)"/>
    <param name="frame_id" value="$(arg path_frame)"/>
  </node>

  <node if="$(arg start_path_receiver)" pkg="nuedc_ground_air" type="onboard_path_receiver.py" name="onboard_path_receiver" output="screen">
    <param name="path_topic" value="$(arg path_topic)"/>
    <param name="ack_topic" value="$(arg path_ack_topic)"/>
    <param name="frame_id" value="$(arg path_frame)"/>
  </node>

  <node pkg="nuedc_ground_air" type="landscreen_ros1_bridge.py" name="landscreen_ros1_bridge" output="screen">
    <param name="host" value="$(arg host)"/>
    <param name="port" value="$(arg port)"/>
    <param name="grid_mode" value="$(arg grid_mode)"/>
    <param name="path_topic" value="$(arg path_topic)"/>
  </node>

  <node pkg="nuedc_ground_air" type="vision_start_on_command.py" name="vision_start_on_command" output="screen">
    <param name="camera" value="$(arg camera)"/>
    <param name="show_window" value="$(arg show_window)"/>
    <param name="confidence" value="$(arg confidence)"/>
  </node>

  <node if="$(arg start_vision_adapter)" pkg="nuedc_ground_air" type="vision_detection_adapter.py" name="vision_detection_adapter" output="screen">
    <param name="input_topic" value="/yolo_trt_node/detections"/>
    <param name="output_topic" value="/vision/detections"/>
    <param name="summary_topic" value="/vision/summary"/>
    <param name="min_confidence" value="$(arg confidence)"/>
    <param name="max_rate" value="5.0"/>
    <param name="max_detections" value="10"/>
    <rosparam param="class_names">[elephant, tiger, monkey, kongque, wolf]</rosparam>
  </node>

  <node if="$(arg start_grid_recognition)" pkg="nuedc_ground_air" type="grid_recognition_state_machine.py" name="grid_recognition_state_machine" output="screen">
    <param name="stabilize_seconds" value="0.3"/>
    <param name="recognition_seconds" value="1.0"/>
    <param name="min_confidence" value="$(arg confidence)"/>
    <param name="current_grid_topic" value="$(arg current_grid_topic)"/>
    <param name="detection_topic" value="/vision/detections"/>
  </node>
</launch>
